 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 141px 114px 0;
}

.u-section-1 .u-image-1 {
  width: 165px;
  height: 165px;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 62px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#77aad9, #e5e5e5);
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-form-1 {
  height: 52px;
  margin: 61px 153px 0 271px;
}

.u-section-2 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-2 .u-input-1 {
  height: 50px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 17px 350px 60px 325px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 53px;
    margin-left: 171px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 250px;
    margin-left: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 140px;
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 50px;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 70px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 19px auto 0 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 19px auto 0 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 19px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}